<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Minhas Contas Bancárias</h4>
          <a routerLink="create" class="btn btn-primary">Cadastrar Conta Bancária</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Banco
                </th>
                <th>
                  Agência
                </th>
                <th>
                  Conta
                </th>
                <th>
                  Tipo da Conta
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Banco do Brasil
                  </td>
                  <td>
                    36-1
                  </td>
                  <td>
                    121842-5
                  </td>
                  <td>
                    Corrente
                  </td>
                </tr>
                <tr>
                  <td>
                    Caixa
                  </td>
                  <td>
                    1013
                  </td>
                  <td>
                    21311-1
                  </td>
                  <td>
                    Corrente
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
